---
name: Tag & Release
'on':
  push:
    branches:
      - stackhpc/{{workflow_manifest.branch}}
permissions:
  contents: write
jobs:
  tag-and-release:
    uses: stackhpc/.github/.github/workflows/tag-and-release.yml@main
{% if workflow_manifest.workflow_args.upstream is defined %}
    with:
      upstream: {{workflow_manifest.workflow_args.upstream}}
{% endif %}
