---
name: Upstream Sync
'on':
  schedule:
    - cron: "15 6 * * 1"
  workflow_dispatch:
permissions:
  contents: write
  pull-requests: write
{% if repository_manifest.releases %}
jobs:
{% for release in repository_manifest.releases %}
  synchronise-{{ release | replace(".", "-") }}:
    name: Synchronise {{release}}
    uses: stackhpc/.github/.github/workflows/upstream-sync.yml@main
    with:
      release_series: {{ release }}
{% endfor %}
{% else %}
jobs: {}
{% endif %}
