---
- name: Sync dev Pulp repositories
  hosts: localhost
  gather_facts: False
  tasks:
    - import_role:
        name: stackhpc.pulp.pulp_repository
      vars:
        pulp_url: "{{ dev_pulp_url }}"
        pulp_username: "{{ dev_pulp_username }}"
        pulp_password: "{{ dev_pulp_password }}"
        pulp_repository_deb_repos: "{{ dev_pulp_repository_deb_repos }}"
        pulp_repository_rpm_repos: "{{ dev_pulp_repository_rpm_repos }}"
