---
# Due to a bug in Pulp (https://github.com/pulp/pulp_rpm/issues/2311), we can
# end up with multiple publications for a single repository version after
# performing a sync. This breaks assumptions in the Pulp squeezer modules about
# uniqueness, causing the rpm_publication module to fail, and breaking sync
# jobs.
#
# This playbook looks for repository versions with multiple publications, and
# removes the most recent.

- name: Clean up duplicate publications
  hosts: localhost
  gather_facts: True
  vars:
    pulp_url: "{{ dev_pulp_url }}"
    pulp_username: "{{ dev_pulp_username }}"
    pulp_password: "{{ dev_pulp_password }}"
  tasks:
    - import_role:
        name: pulp-rpm-publication-cleanup
      vars:
        pulp_rpm_publication_cleanup_repos: "{{ dev_pulp_distribution_rpm | map(attribute='repository') | list }}"
