---
- name: Validate package repository configuration
  hosts: localhost
  gather_facts: true
  vars:
    synced_rpm_package_repos: "{{ rpm_package_repos | selectattr('sync', 'defined') | selectattr('sync') | list + rpm_package_repos | rejectattr('sync', 'defined') | list }}"
    published_rpm_package_repos: "{{ rpm_package_repos | selectattr('publish', 'defined') | selectattr('publish') | list + rpm_package_repos | rejectattr('publish', 'defined') | list }}"
    num_rpm_package_repos: "{{ rpm_package_repos | length }}"
    num_published_rpm_package_repos: "{{ published_rpm_package_repos | length }}"
  tasks:
    - name: Assert that RPM package repository list is defined
      assert:
        that:
          - rpm_package_repos is defined

    - name: Assert that RPM package repositories have names
      assert:
        that:
          - rpm_package_repos | rejectattr('name', 'defined') | list | length == 0

    - name: Assert that RPM package repository names are unique
      assert:
        that:
          - rpm_package_repos | map(attribute='name') | unique | list | length == num_rpm_package_repos | int

    - name: Assert that synced RPM package repositories have URLs
      assert:
        that:
          - synced_rpm_package_repos | rejectattr('url', 'defined') | list | length == 0

    - name: Assert that published RPM package repositories have short names
      assert:
        that:
          - published_rpm_package_repos | rejectattr('short_name', 'defined') | list | length == 0

    - name: Assert that published RPM package repository short names are unique
      assert:
        that:
          - published_rpm_package_repos | map(attribute='short_name') | unique | list | length == num_published_rpm_package_repos | int

    - name: Assert that published RPM package repositories have base paths
      assert:
        that:
          - published_rpm_package_repos | rejectattr('base_path', 'defined') | list | length == 0

    - name: Assert that published RPM package repository base_paths are unique
      assert:
        that:
          - published_rpm_package_repos | map(attribute='base_path') | list | length == num_published_rpm_package_repos | int

    - name: Assert that published RPM package repository base_paths have a trailing slash
      assert:
        that:
          - published_rpm_package_repos | map(attribute='base_path') | list | map('last') | unique == ['/']

    - name: Assert that RPM package repository list can be filtered to single
      assert:
        that:
          - rpm_package_repos_filtered | length == 1
          - rpm_package_repos_filtered[0].short_name == 'centos_stream_8_baseos'
      vars:
        rpm_package_repo_filter: centos_stream_8_baseos

    - name: Assert that RPM package repository list can be filtered to multiple
      assert:
        that:
          - rpm_package_repos_filtered | length == 2
          - rpm_package_repos_filtered[0].short_name == 'centos_stream_8_baseos'
          - rpm_package_repos_filtered[1].short_name == 'docker'
      vars:
        rpm_package_repo_filter: docker centos_stream_8_baseos

    - name: Assert that dev package repository list is defined
      assert:
        that:
          - dev_pulp_repository_rpm_repos is defined

    - name: Assert that dev package publication list is defined
      assert:
        that:
          - dev_pulp_publication_rpm is defined

    - name: Assert that dev package distribution list is defined
      assert:
        that:
          - dev_pulp_distribution_rpm is defined

    - name: Assert that dev package distribution promote list is defined
      assert:
        that:
          - dev_pulp_distribution_rpm_promote is defined

    - name: Assert that test package repository list is defined
      assert:
        that:
          - test_pulp_repository_rpm_repos is defined

    - name: Assert that test package publication list is defined
      assert:
        that:
          - test_pulp_publication_rpm is defined

    - name: Assert that test package distribution list is defined
      assert:
        that:
          - test_pulp_distribution_rpm is defined
