---
name: Ansible Validations

on:
  push:
    branches:
      - main
  pull_request:

env:
  ANSIBLE_FORCE_COLOR: True
  ANSIBLE_VAULT_PASSWORD_FILE: ${{ github.workspace }}/vault-pass
jobs:
  ansible-validations:
    name: Ansible Validations
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Release Train & dependencies
        uses: ./.github/actions/setup
        with:
          vault-password: ${{ secrets.ANSIBLE_VAULT_PASSWORD }}
          vault-password-file: ${{ env.ANSIBLE_VAULT_PASSWORD_FILE }}

      - name: Run Ansible validations
        run: |
          ansible-playbook -i ansible/inventory \
          ansible/validate-*.yml
