---
name: Ansible Lint

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  ansible-lint:
    name: Ansible Lint

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install Ansible collections
      run: |
        ansible-galaxy collection install -r requirements.yml

    - name: Install pip dependencies
      run: |
        pip install -r requirements.txt

    # FIXME: rich pinned due to https://github.com/ansible-community/ansible-lint/issues/1795.
    - name: Install ansible-lint
      run: |
        pip install ansible-core==2.12.* 'rich<11' ansible-lint==5.3.*

    - name: Lint Ansible playbooks
      run: |
        ansible-lint -v --force-color ansible/*.yml
      env:
        ANSIBLE_VAULT_PASSWORD: ${{ secrets.ANSIBLE_VAULT_PASSWORD }}
