---
name: Promote container repositories (pre-Zed)
on:
  workflow_dispatch:
    inputs:
      filter:
        description: Space-separated list of regular expressions matching images to promote
        type: string
        required: false
        default: ""
      distros:
        description: Space-separated list of base distributions to promote
        type: string
        required: false
        default: ""
      tag:
        description: Container image tag to promote
        required: true
      promote-old-images:
        description: Whether to promote images for Yoga and older
        type: boolean
        default: true
      promote-new-images:
        description: Whether to promote images for Zed and newer
        type: boolean
        default: true

env:
  ANSIBLE_FORCE_COLOR: True
  ANSIBLE_VAULT_PASSWORD_FILE: ${{ github.workspace }}/vault-pass
jobs:
  container-promote:
    name: Promote container repositories
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Release Train & dependencies
      uses: ./.github/actions/setup
      with:
        vault-password: ${{ secrets.ANSIBLE_VAULT_PASSWORD }}
        vault-password-file: ${{ env.ANSIBLE_VAULT_PASSWORD_FILE }}

    - name: Promote images from stackhpc-dev to stackhpc namespace in Ark
      run: |
        ansible-playbook -i ansible/inventory \
        ansible/dev-pulp-container-promote-old.yml \
        -e dev_pulp_repository_container_promotion_tag="$TAG" \
        -e kolla_container_image_filter="'$FILTER'" \
        -e kolla_base_distros_override="'$DISTROS'" \
        -e sync_old_images="'$PROMOTE_OLD_IMAGES'" \
        -e sync_new_images="'$PROMOTE_NEW_IMAGES'"
      env:
        TAG: ${{ github.event.inputs.tag }}
        FILTER: ${{ github.event.inputs.filter }}
        DISTROS: ${{ github.event.inputs.distros }}
        PROMOTE_OLD_IMAGES: ${{ github.event.inputs.promote-old-images }}
        PROMOTE_NEW_IMAGES: ${{ github.event.inputs.promote-new-images }}
