---
name: Update Kayobe package repository versions
on:
  workflow_dispatch:
    inputs:
      kayobe_config_branch:
        required: false
        description: Branch of StackHPC Kayobe configuration to use
        default: stackhpc/wallaby

env:
  ANSIBLE_FORCE_COLOR: True
  ANSIBLE_VAULT_PASSWORD_FILE: ${{ github.workspace }}/vault-pass
jobs:
  package-update-kayobe:
    name: Update Kayobe package repository versions
    runs-on: [self-hosted, stackhpc-release-train]
    steps:
      - uses: actions/checkout@v3

      - name: Preparing Vault password file
        run: |
          echo "$ANSIBLE_VAULT_PASSWORD" > "$ANSIBLE_VAULT_PASSWORD_FILE"
        env:
          ANSIBLE_VAULT_PASSWORD: ${{ secrets.ANSIBLE_VAULT_PASSWORD }}

      - name: Clone StackHPC Kayobe configuration repository
        uses: actions/checkout@v3
        with:
          repository: stackhpc/stackhpc-kayobe-config
          ref: refs/heads/${{ github.event.inputs.kayobe_config_branch }}
          path: stackhpc-kayobe-config

      - name: Installing dependencies
        run: |
          sudo apt update &&
          sudo apt install -y python3-venv &&
          python3 -m venv venv &&
          source venv/bin/activate &&
          pip install -U pip &&
          pip install -r requirements.txt &&
          ansible-galaxy collection install -r requirements.yml -p ansible/collections

      - name: Generate Kayobe Pulp repository versions
        run: |
          source venv/bin/activate &&
          ansible-playbook -i ansible/inventory \
          ansible/test-pulp-repo-version-query.yml \
          ansible/test-kayobe-repo-version-generate.yml \
          -e kayobe_config_repo_path=./stackhpc-kayobe-config/

      - name: Check for version changes
        id: git-diff
        run: |
          cd stackhpc-kayobe-config/ &&
          if ! git diff-index --quiet HEAD; then
            echo "::set-output name=changed::true" &&
            git diff --color
          fi

      # TODO: Commit the changes, push to a branch, and create a PR.
      # For now, just create an artifact that the user can download.
      - name: Upload pulp-repo-versions.yml artifact
        if: ${{ steps.git-diff.outputs.changed == 'true' }}
        uses: actions/upload-artifact@v3
        with:
          name: pulp-repo-versions.yml
          path: stackhpc-kayobe-config/etc/kayobe/pulp-repo-versions.yml
          retention-days: 1
