---
name: Promote package repositories
on:
  workflow_dispatch:
    inputs:
      filter:
        description: Space-separated list of regular expressions matching short_name of repositories to promote
        type: string
        required: false
        default: ""
      kayobe_config_branch:
        required: false
        description: Branch of StackHPC Kayobe configuration to use
        default: stackhpc/wallaby

env:
  ANSIBLE_FORCE_COLOR: True
  ANSIBLE_VAULT_PASSWORD_FILE: ${{ github.workspace }}/vault-pass
jobs:
  package-promote:
    name: Promote package repositories
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Release Train & dependencies
      uses: ./.github/actions/setup
      with:
        vault-password: ${{ secrets.ANSIBLE_VAULT_PASSWORD }}
        vault-password-file: ${{ env.ANSIBLE_VAULT_PASSWORD_FILE }}

    - name: Clone StackHPC Kayobe configuration repository
      uses: actions/checkout@v3
      with:
        repository: stackhpc/stackhpc-kayobe-config
        ref: refs/heads/${{ github.event.inputs.kayobe_config_branch }}
        path: stackhpc-kayobe-config

    - name: Promote package repositories in Ark to release
      run: |
        ansible-playbook -i ansible/inventory \
        ansible/dev-pulp-repo-version-query-kayobe.yml \
        ansible/dev-pulp-repo-promote.yml \
        -e deb_package_repo_filter="'$FILTER'" \
        -e rpm_package_repo_filter="'$FILTER'" \
        -e kayobe_config_repo_path=./stackhpc-kayobe-config/
      env:
        FILTER: ${{ github.event.inputs.filter }}
